version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: ".env"
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile-streamlit
    depends_on:
      - backend
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://backend:8000
